@import './base.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

@layer components{
  .button{
    @apply p-2 rounded-full w-full text-invert-bg min-w-10 flex justify-center items-center min-h-10 duration-300;
  }

  .button-1{
    @apply button bg-secondary-bg hover:bg-invert-bg hover:text-secondary-bg;
  }

  .button-2{
    @apply button bg-transparent hover:bg-invert-bg hover:text-secondary-bg;
  }
}
