@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --dark: #242424;
  --half-dark: #333333;
  --primary: #FFC555;
  --light: #F9F9F9;
  --light-50: #8a8a8a;
  --light-opacity: rgba(249, 249, 249, 0.1);

  --correct: #5ddf5d;
  --error: #ff5d5d;
  --warning: #ffcc00;
  --info: #5d5dff;

  --primary-bg: var(--dark);
  --secondary-bg: var(--half-dark);
  --invert-bg: var(--light);
  --invert-bg-50: var(--light-50);
  --invert-bg-opacity: var(--light-opacity);
  --primary: var(--primary);

  --p-treeselect-background: var(--primary-bg) !important;
  --p-treeselect-focus-border-color: transparent !important;
  --p-treeselect-border-color: var(--invert-bg-50) !important;
  --p-overlay-select-border-color: transparent !important;
  --p-treeselect-overlay-border-color: transparent !important;
  --p-treeselect-color: var(--invert-bg) !important;
  --p-treeselect-placeholder-color: var(--invert-bg) !important;
}