@import './base.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

::-webkit-scrollbar {
  width: 0.5rem; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track background */
  border-radius: 0.25rem; /* Rounded corners */
  border: solid transparent;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: solid transparent;
  background: var(--secondary-bg); /* Scrollbar thumb color */
  border-radius: 0.25rem; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scrollbar thumb color on hover */
}



@layer components{
  .text-accent{
    font-family: 'Roboto Mono', 'Open Sans', sans-serif;
  }

  .btn-type-1{
    @apply py-2 px-4 rounded-full w-full bg-invert-bg text-primary-bg 
    duration-300 hover:bg-primary;
  }

  .text-active{
    @apply  duration-300 hover:text-primary cursor-pointer;
  }

  input{
    @apply py-2 px-4 rounded-full bg-secondary-bg
  }

  a{
    @apply underline underline-offset-4
  }

  

  /* a{
    @apply relative;
  }

  a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--invert-bg);
    transition: 0.3s;
  }

  a:hover::before{
    width: 100%;
  } */

  h1{
    @apply text-2xl font-bold;
  }

  h2{
    @apply text-xl font-bold;
  }
  
  h3{
    @apply text-lg font-bold;
  }

  .tag{
    @apply w-4 h-4 rounded-full relative flex justify-center cursor-pointer duration-300 text-base;
  }
  .select-tag{
    @apply w-fit px-2 rounded-full flex items-center cursor-pointer;
  }

  .button{
    @apply bg-secondary-bg p-2 rounded-full w-full text-invert-bg min-w-10 flex justify-center items-center min-h-10 hover:bg-invert-bg hover:text-secondary-bg duration-300
  }
  /* .select-tag>*{
    mix-blend-mode: color-dodge;
    color: white;
  } */
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.card-stack{
  @apply flex flex-col gap-4;
}

.card-stack>*{
  @apply absolute duration-300 top-0 right-0;
  transform: translateY(30px) scale(0.9);
}

.card-stack>:nth-last-child(2) {
  transform: translateY(15px) scale(0.95);
}

.card-stack>:nth-last-child(1) {
  transform: translateY(0px) scale(1);
}

/* PrimeVue */
.p-image-mask img{
  max-width: 100vw;
  max-height: 100vh;
  padding: 1rem;
}